.nav{
    
    width:100%;
    padding: 10px 0;
    box-shadow: 0px 7px 5px lightgray;
    margin-bottom: 10px;
    }



.menu{
    max-width: 1250px;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  15px;
   
}


.menu.logo a{
     text-decoration: none;
     color: #18a47c;
      font-size: 35px;
      font-weight: 600;
    }


.menu ul{
    
    display:inline-flex
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin-left: 7px;
}
.menu ul li a{
    text-decoration: none;
    color: #6b79c9;
    font-size: 25px;
    font-weight: 900 ; 
    padding:8px 15px;
    border: radius 5px;
    transition:all 0.3s ease;
}

.menu ul li a:hover{
    background: #18a47c;
    color: black;

}
.header_2{
    background-color: #8d99dc;
    width: 1440;
    height: 700px;
}

.reavel{
    text-align:center ;
    margin-left: 90px;
    padding-top: 100px;
    
}
.esg{
    font-size: larger;
    font-size: 40px;
}
.public{
    font-size: 20px;
    text-align: center;
}
.button{
   display: flex;
   justify-content: space-between;
   margin-left: 100px;
   margin-right: 100px;
   padding-top: 120px;
    
}
.group_4{
    margin-bottom:8000px;
}

.discover{
    background-color: #91529b;
    height: 60px;
    width: 300px;
    border-radius: 25px;
}
.discover p{
    text-align:right;
    font-size: larger;
    padding-right: 10px;
    color:aliceblue;
}

.email{
    background-color: #fefefe;
    height: 60px;
    width: 300px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}
.email_p1{
    text-align:left;
    font-size: larger;
    padding-left: 30px;
    padding-top: 20px;
    color:rgb(148, 150, 152);
}
.try{
    background-color: #0d2095;
    height: 40px;
    width: 100px;
    border-radius: 25px;
    margin-top: 10px;
    margin-right: 10px;
    
}
.try_p2{
    color: #ffff;
    margin-top: 10px;
    margin-left: 15px;
  
}

.powerful{
    background-color: #523C76;
    width: 1440px;
    height: auto;
}
.powerful_h1{
    color: #ffff;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
}
.powerful_p{
    color: #ffff;
    text-align: center;
    font-size: 20px;
}

.boxs{
    display: flex;
    justify-content: space-between;
}

.a_box{
    margin-left: 100px;
}
.abc_box{
    margin-right: 100px;
}


.a{
    background-color: #D9D9D9;
    height: 200px;
    width: 400px;
    border-radius: 15px;
}
.a_h2{
    margin-left: 10px;
}
.a_p{
    margin-left: 10px;  
}
.b{
    background-color: #5148ab;
    height: 200px;
    width: 400px;
    border-radius: 15px;
}
.b_h2{
    margin-left: 10px;
}
.b_p{
    margin-left: 10px;
}
.c{
    background-color: #D9D9D9;
    height: 200px;
    width: 400px;
    border-radius: 15px;
}
.c_h2{
   margin-left:10px ;
}
.c_p{
    margin-left:10px ;
} 

.Textreavel{
    display: flex;
    justify-content: space-between;
}
.text_h3{
    font-size: 30px;
}
.text_p{
    font-size: 20px;
     padding-top:20px ;
}

.profile{
    display: flex;
    justify-content: space-between;
    background-color: #bc64b8;
}

.pro{
    display: flex;
    justify-content: space-between ;
    margin-left: 100px;
    margin-top: 100px;
}

.box_1{
    background-color: #a1abe4;
    height: 80px; 
    text-align: center;
    width: 150px;
}
.box_2{
    background-color: #a1abe4;
    height: 80px; 
    text-align: center;
    width: 150px;
}
.box_3{
    background-color: #a1abe4;
    height: 80px; 
    text-align: center;
    width: 150px;
}
.over_img{
    margin-right: 10px;
    margin-top: 10px;
}



.learn{
    background-color: #0d2095;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    margin-left: 700px;
}
.learn-p{
    text-align: center;
    color: #ffff;
}
.multiply{
    display: flex;
    justify-content: space-between;
    
}
.m_right{
    margin-top: 20px;
}
.m_left{
    margin-left: 10px;
}
.machine{
       display: flex;
        justify-content: space-between;
}

.e_right{
    margin-top: 30px;
}
.e_left{
    margin-left: 10px; 
}

.learn_e{
    background-color: #0d2095;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    margin-left: 1000px;
    margin-bottom:10px;
}
.learn-pe{
    text-align: center;
    color: #ffff;
}


.gray{
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
}

.num{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.twenty_five{
    margin-left: 80px;
    
}
.hun_four{
    margin-left: 100px;
}

.earth_image{
    margin-top: 130px;
    margin-bottom: auto;
}
.darkblue{
    background-color: #0d2095;
    height: 800px;
    
}

.blue{
    margin: 60px;
   
    background-color: #6b79c9;
    border-radius:25px ;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.reveal_h1{
    padding-left: 20px;
    font-size: 40px;
}
.blue_p{
    padding-left: 20px;
    font-size: 25px;
}

.left{
    margin-left: 30px;
}

.f_p{
    font-size: 25px;
}

.right{
    display: flex;
    justify-content: space-between;
    color: #fbfbfb;
}

.about{
    margin-right: 150px;
}

.company{
    margin-right: 100px;
}

.legal{
    margin-right: 50px;
}
.a_h1{
    font-size: 50px;
}
.c_h1{
    font-size: 50px;
}
.l_h1{
    font-size: 50px;
}
.logos{
    display: inline;
    justify-content: space-between;
}
.logo_a{
    margin-left: 30px;
}
.logo_b{
    margin-left: 40px;
}
.logo_c{
    margin-left: 50px;
    margin-top: 3000px;
}
.copyright{
    text-align: center;
    color: #fefefe;
}


















